.tags-wrapper
  %span.label.label-default{style: "font-size: 15px"} All Tags
  - Tag.all.limit(15).each do |tag|
    =link_to "/dashboards/tag_search?query=#{tag.name}", style: "display:inline-block; margin-bottom: 10px" do
      %span.label.label-default{style: "font-size: 15px"}= tag.name
