.question-show-wrapper{
  .question-actions{
    margin-top: 20px;
    span{
    }
  } 
  .profile-pic{
    overflow:hidden;
    border-radius: .3em;
    width: 50px;
    height: 50px;

    img{
      width: 50px;
    }
  }
  .author{
    img{
      width: 30px;
    }

    .status{
      margin-left: 20px;
      color: #95a5a6;

      .actions{
        display: inline;
        position: relative;
        left: 20px;

        span{
          a{
            text-decoration: none;
            padding: 2px;
            color: black;
          }

        }
      }
    }
  }

  .new_answer_form{
    margin-top: 25px;
  }
  .answers-list{
    .item{
      margin-top: 20px
    }
    .content{
      position:relative;
      left: 20px;
    }
    .author-pic{
      overflow:hidden;
      width: 30px;
      height: 30px;
      float:left;
      border-radius: .3em;

      img{
        width: 30px;
      }

      .actions{
      }
    }
  }
}
