!!!
%html
  %head
    %title AgriHackaton
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.landing-body
    .overlay
    .container.devise-container
      =yield
      %span.titleize.special Special thanks to
      .center.agri_hack
        =image_tag "agri_hack.jpg"
